html{
    box-sizing: border-box;
}
*,
*::before,
*::after{
    box-sizing: inherit;
}
a{
    color: #ffffff;
    text-decoration: none;
    display: inline-block;
}
.container{
    max-width: 708px;
    margin: 0 auto;
    padding: 0 8px;
}